
@model EventHub.Models.ViewModels.User.UserDetailsViewModel
@{
    ViewBag.Title = "Info";
}

<div>
    <div class="col-md-3">
        <img src="@Model.PicturePath" class="mainPicture" />

        <br />
       
        <div class="groupList">
            @{Html.RenderAction("UserGroups", "Group", new { user_id = Model.UserId });}
        </div>

    </div>

    <div class=" col-md-9">
        <dl class="dl-horizontal">
            <dt>
                @Model.UserName
            </dt>
            <dt>
                @Model.FirstName
            </dt>

            <dt>
                @Model.LastName
            </dt>

            <dt>
                @Model.SchoolName
            </dt>

        </dl>
    </div>


</div>

