@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Account Settings", "Manage", "Account", routeValues: null, htmlAttributes: new {})
        </li>
        <li>
            @*<a href="">Hello @(User.Identity.Name)!</a>*@
            <a>Hello @(User.Identity.Name)!</a>
        </li>
        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-flag"></i> <span class="caret"></span>
            </a>
            <ul id="NotificationFeed" class="dropdown-menu" role="menu" style="padding:5px;">
                @{Html.RenderAction("NotificationFeed", "Notification");}
            </ul>
        </li>
        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
