@model EventHub.Models.GroupAdminRequestsViewModel
@{
    ViewBag.Title = "AdminRequests";
}

<h2>AdminRequests</h2>

<div class="group">
    @if (Model.AdminRequests.Count > 0)
    {
        foreach (var req in Model.AdminRequests)
        {
            <div class="group">
                @using (Html.BeginForm("AddAdmin", "Group", new { groupId = Model.GroupId }, FormMethod.Post))
                {
                    <img src="@req.Requester.PicturePath" class="pictureBorder" width="40" height="40" />

                    @Html.ActionLink(@req.Requester.FirstName + ' ' + @req.Requester.LastName, "Details", "User", new { id = @req.Requester.Id }, htmlAttributes: new { })
                    @Html.AntiForgeryToken()
                    @Html.Hidden("UserId", @req.AspNetUserId, new { @class = "form-control commentTextArea" })

                    <input type="submit" class="btn btn-default pull-right" value="Confirm Request" />
                }
            </div>
        }
    }
    else
    {
        <h4>Currenlty No Requests</h4>
    }


</div>

