@model EventHub.Models.Group

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <div class="col-md-3">
        <img src="@Model.PicturePath" class="mainPicture" />

        <br />

        @{bool isAdmin = false;
            foreach(EventHub.Models.GroupSubscription gsub in Model.GroupSubscriptions)
            {
                if(gsub.AspNetUser.UserName == User.Identity.Name && gsub.IsAdministrator == true)
                {
                    isAdmin = true;

                }
            }
        }

        @if (isAdmin == true)
        {
        <button onclick="CreateEventDialog()" class="btn btn-default">Create Event</button>
        }
        
        <br />
        <div class="groupList">
            <p>
                @Html.DisplayFor(model => model.Description)
            </p>

        </div>
    </div>

    <div id="Events" class="col-md-6">
        @{Html.RenderAction("GroupEventFeed", "Event");}
        @{Html.RenderAction("GroupEventFeedPast", "Event");}
    </div>


    <div class="groupList col-md-3">

    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<div id="CreateEventDialog" title="Create New Event">
</div>

@*Move this section to the group main page once that page is created*@
@section scripts
{
    <script type="text/javascript">
        var dialog = $("#CreateEventDialog").dialog({
            autoOpen: false,
            height: 350,
            width: 500
        });

        function CreateEventDialog() {
            $.ajax({
                url: '/Event/Create?groupId=@Model.Id',
                contentType: 'Application/html; charset=utf-8',
                type: 'Get',
                dataType: 'html'
            }).success(function (result) {
                $("#CreateEventDialog").html(result);
            });

            dialog.dialog("open");
        }
    </script>
}