@model EventHub.Models.GroupDetailsViewModel



<div>
    <div class="group-details col-md-3" >
        
        <h4 class="text-center">@Html.DisplayFor(model => model.Group.Name)</h4>

        <img src="@Model.Group.PicturePath" class="pull-left mainPicture"  />
        <br />

        @{bool isAdmin = false;
          bool permRequested = false;
            foreach(EventHub.Models.GroupSubscription gsub in Model.Group.GroupSubscriptions)
            {
                if(gsub.AspNetUser.UserName == User.Identity.Name && gsub.IsAdministrator == true)
                {
                    isAdmin = true;
                    break;

                }
                else
                {
                    foreach (EventHub.Models.AdminRequest req in Model.AdminRequests)
                    {
                        if (req.AspNetUserId == Model.ViewingUserId)
                        {
                            permRequested = true;
                            break;
                        }
                    }
                    break;
                }
            }
            
        }

        @if (isAdmin == true)
        {
            <button onclick="UploadImageDialog()" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Change Picture</button>
            <br/>
            <button onclick="AdminRequestsDialog()" class="btn btn-default">View Admin Requests</button>
            <br />
        }
        else
        {
            if (permRequested == false)
            {
                <button id="adminButton" onclick="AdminRequest()" class="btn btn-default">Request Admin Permissions</button>
                <br />
            }
            else
            {
                <button id="adminButton" disabled class="btn btn-default">Admin Permissions Requested</button>
                <br />
            }

        }
        
        <br />

        <div class="groupList">
            <p>
                <strong>Description </strong>
                @Html.DisplayFor(model => model.Group.Description)
            </p>
        </div>

        <br/>

        @if (isAdmin == true)
        {
            <button onclick="CreateEventDialog()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create Event</button>
        }


    </div>

    <div id="Events" class="col-md-6">
        <div class="row text-center">
            <h3>Upcoming Events</h3>
        </div>

        <div id="events">    
            @{Html.RenderAction("GroupEventFeed", "Event");}
            <br />
            <center><h3>Past Events</h3></center>
            <div id="pastEvents">
                <div id="noEvents" style="display: none;">
                    <h4>There are no past events.</h4>
                </div>
                <div id="loadingDiv" style="display: none;">
                    <center>
                        <img alt="Loading" src="@Url.Content("~/Content/Images/ajax-loader.gif")" height="75" width="75" />
                    </center>
                </div>
            </div>
        </div>
    </div>


    <div class="groupList col-md-3">

    </div>
</div>
<div class="group-details-actions col-md-3 text-center">
    @if (isAdmin == true)
    {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Group.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.Group.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
    else
    {
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
</div>
<div id="CreateEventDialog" title="Create New Event">
</div>
<div id="AdminRequestDialog" title="Admin Requests">
</div>
<div id="UploadImageDialog" title="Upload Account Picture">
    @Html.Partial("UploadPicture", new EventHub.Models.UploadViewModel() { AllowMultiple = false, Action = "UploadPicture", Controller = "Group", id = Model.Group.Id })
</div>

@*Move this section to the group main page once that page is created*@
@section scripts
{
    <script type="text/javascript">
    var dialog = $("#CreateEventDialog").dialog({
        autoOpen: false,
        height: 350,
        width: 500
    });

    var adminDialog = $("#AdminRequestDialog").dialog({
        autoOpen: false,
        height: 350,
        width: 500
    });

    function AdminRequest(){
        $.ajax({
            url: '/Group/AdminRequest?groupId=@Model.Group.Id&userId=@Model.ViewingUserId',
            contentType: 'Application/html; charset=utf-8',
            type: 'Get',
            dataType: 'html'
        }).success(function (result) {
            confirm("Admin Permissions Requested");
            $("#adminButton").html("Admin Permissions Requested");
            $("#adminButton").attr("disabled", true);
        });
    }

    function AdminRequestsDialog(){
        $.ajax({
            url: '/Group/AdminRequests?groupId=@Model.Group.Id',
            contentType: 'Application/html; charset=utf-8',
            type: 'Get',
            dataType: 'html'
        }).success(function (result) {
            $("#AdminRequestDialog").html(result);
        });

        adminDialog.dialog("open");
    }

    function CreateEventDialog() {
        $.ajax({
            url: '/Event/Create?groupId=@Model.Group.Id',
                contentType: 'Application/html; charset=utf-8',
                type: 'Get',
                dataType: 'html'
            }).success(function (result) {
                $("#CreateEventDialog").html(result);
            });

            dialog.dialog("open");
    }

        var uploadImageDialog = $("#UploadImageDialog").dialog({
            autoOpen: false,
            height: 200,
            width: 500
        });

        function UploadImageDialog() {
            uploadImageDialog.dialog("open");
        }
        
        //--------infinite scroll---------
        var BlockNumber = 1;  //Infinite Scroll starts from second block
        var NoMoreData = false;
        var inProgress = false;

        $(document).ready(function () { loadEvents(); });

        function loadEvents() {
            inProgress = true;
            $("#loadingDiv").show();

            $.post("@Url.Action("GroupEventFeedPast",
                        "Event")", {"BlockNumber": BlockNumber, "id": @Model.Group.Id },
            function (data) {
                if (String(data).trim() == "") {
                    NoMoreData = true;
                    if(BlockNumber == 1)
                        $("#noEvents").show();
                }
                console.log(String(data));
                BlockNumber++;
                $("#pastEvents").append(data);
                $("#loadingDiv").hide();
                inProgress = false;
            });
        }

        $("#loadingDiv").hide();
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() -
            $(window).height() && !NoMoreData && !inProgress) {
                loadEvents();
            }
        });
        
    </script>
}