@model EventHub.Models.GroupSuggestionsViewModel

<div>
    @if (Model.Groups.Count > 0)
    {
        foreach (var group in Model.Groups)
        {
            <div class="group">
                @using (Html.BeginForm("Add", "Group", FormMethod.Post))
                {
                    <img src="@group.PicturePath" class="pictureBorder" width="40" height="40" />

                    @Html.ActionLink(@group.Name, "Details", "Group", new { id = @group.Id }, htmlAttributes: new { })
                    @Html.AntiForgeryToken()
                    @Html.Hidden("GroupId", @group.Id, new { @class = "form-control commentTextArea" })

                    <input type="submit" class="btn btn-default pull-right" value="+Subscribe" />
                }
            </div>
        }
    }
    else
    {
        <h4>No Suggestions</h4>
    }
    

</div>

