
@model EventHub.Models.EventViewModel

@{
    ViewBag.Title = "Details";
}

<div>
    <div class="col-md-3 group-details">
        @{
            int attending = 0;
            bool isAdmin = false;
            foreach (EventHub.Models.GroupSubscription gsub in Model.AnEvent.Group.GroupSubscriptions)
            {
                if (gsub.AspNetUser.UserName == User.Identity.Name && gsub.IsAdministrator == true)
                {
                    isAdmin = true;

                }
            }
            foreach (EventHub.Models.EventUserReply reply in Model.AnEvent.EventReplies)
            {
                if (reply.Reply == EventHub.Models.EventReply.Going)
                {
                    attending++;
                }
            }
        }
        <div class="row text-center">
            @if (@Model.AnEvent.EventPictures.Any())
            {
                <img src="@Model.AnEvent.EventPictures.First().PicturePath" class="mainPicture" />
            }
            else
            {
                <img src="\Content\Images\testImages\group_default.png" class="mainPicture" />
            }
            @if (isAdmin == true)
            {
                <br />
                <center>
                    <button onclick="UploadImageDialog()" class="btn btn-default">Upload Pictures</button>
                </center>
            }
        </div>

        
        <br>
        @{
            bool userReplied = true;
            foreach (EventHub.Models.EventUserReply reply in Model.AnEvent.EventReplies)
            {
                if (reply.AspNetUser.UserName == User.Identity.Name && reply.Reply == 0)
                {
                    userReplied = false;
                }
            }
        }

        @{
            if (userReplied)
            {
                using (Html.BeginForm("In", "Event", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("EventId", Model.AnEvent.Id)
                    <div class="col-md-8" style="padding-left: 0px; padding-right: 0px"><h4>@attending People Attending</h4></div>
                    <div class="col-md-4" style="padding-left: 0px; padding-right: 0px; ">
                        <input type="submit" class="btn btn-default" value="+I'm In!" />
                    </div>
                }
            }
            else
            {
                using (Html.BeginForm("Out", "Event", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("EventId", Model.AnEvent.Id)
                    <div class="col-md-8" style="padding-left: 0px; padding-right: 0px">
                        <h4>@attending People Attending</h4>
                    </div>
                    <div class="col-md-4" style="padding-left: 0px; padding-right: 0px">
                        <input type="submit" class="btn btn-default" value="-I'm Out!" />
                    </div>

                }
            }
}
        @if (isAdmin == true)
        {
            <center class="group">
                <button onclick="CreateEventDialog()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create Event</button>
            </center>
            <p class="pull-right" style="margin-bottom:-5px;">
                @Html.ActionLink("Edit", "Edit", new { id = Model.AnEvent.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model.AnEvent.Id })
            </p>
        }
    </div>

    <div class=" col-md-6">
        <div class="row text-center">
            <h3>@Model.AnEvent.Group.Name Event</h3>
        </div>
        @Html.Partial("Event", Model);
    </div>


    

    <div class="group-details-actions col-md-3 ">
        <div>
            <p>
                @if (isAdmin == true)
                {
                    <button onclick="EditEventDialog()" class="btn btn-default">Edit Event</button>
                    <br />
                    <br />
                    <button onclick="DeleteEventDialog()" class="btn btn-default">Delete Event</button>
                }

            </p>

            @{Html.RenderAction("GetAttendees", "Event", new { id = Model.AnEvent.Id});}
        </div>
    </div>
</div>


<div id="EditEventDialog" title="Edit Event">
</div>
<div id="UploadImageDialog" title="Upload Account Picture">
    @Html.Partial("UploadPicture", new EventHub.Models.UploadViewModel() { AllowMultiple = true, Action = "UploadPictures", Controller = "Event" })
</div>
<div id="DeleteEventDialog" title="Delete Event?">
</div>
@section scripts
{
    <script type="text/javascript">
    var eventDialog = $("#EditEventDialog").dialog({
        autoOpen: false,
        height: 500,
        width: 750
    });

    function EditEventDialog() {
        $.ajax({
            url: '/Event/Edit?id=@Model.AnEvent.Id',
            contentType: 'Application/html; charset=utf-8',
            type: 'Get',
            dataType: 'html'
        }).success(function (result) {
            $("#EditEventDialog").html(result);
        });

        eventDialog.dialog("open");
    }

    var uploadImageDialog = $("#UploadImageDialog").dialog({
        autoOpen: false,
        height: 200,
        width: 500
    });

    function UploadImageDialog() {
        uploadImageDialog.dialog("open");
    }

    var deleteEventDialog = $("#DeleteEventDialog").dialog({
        autoOpen: false,
        height: 200,
        width: 500,
        buttons: {
            "Delete": function () {
                $.ajax({
                    url: '/Event/Delete?id=@Model.AnEvent.Id',
                    type: 'Post',
                }).success(function (result) {
                    window.location.href = "/Home/Index?success=true";
                });
            },
            "Cancel": function () {
                deleteEventDialog.dialog("close");
            }
        }
    });

    function DeleteEventDialog() {
        deleteEventDialog.dialog("open");
    }

    </script>
}
