
@model EventHub.Models.EventViewModel

@{
    ViewBag.Title = "Details";
}

<div>
    <br/>
    <div class="col-md-3">
        @{
            int attending = 0;
            bool isAdmin = false;
            foreach(EventHub.Models.GroupSubscription gsub in Model.AnEvent.Group.GroupSubscriptions)
            {
                if(gsub.AspNetUser.UserName == User.Identity.Name && gsub.IsAdministrator == true)
                {
                    isAdmin = true;
                    
                }
            }
            foreach (EventHub.Models.EventUserReply reply in Model.AnEvent.EventReplies)
            {
                if(reply.Reply == EventHub.Models.EventReply.Going)
                {
                    attending++;
                }
            }
        }

        @if (@Model.AnEvent.EventPictures.Any())
        {
            <img src="@Model.AnEvent.EventPictures.First().PicturePath" class="mainPicture"/>
        }
        else
        {
            <img src="\Content\Images\testImages\group_default.png" class="mainPicture"/>
        }
        <div class="pull-right">
            <button onclick="UploadImageDialog()" class="btn btn-default">Upload Pictures</button>
        </div>
        <h4>@attending People Attending</h4>
        
        @{
            bool userReplied = true;
            foreach (EventHub.Models.EventUserReply reply in Model.AnEvent.EventReplies)
            {
                if (reply.AspNetUser.UserName == User.Identity.Name && reply.Reply == 0)
                {
                    userReplied = false;
                }
            }
        }

        @{
            if (userReplied)
            {
                using (Html.BeginForm("In", "Event", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("EventId", Model.AnEvent.Id)
            
                    <br />
                    <input type="submit" class="btn btn-default" value="+I'm In!" />
                }
            }
            else
            {
                using (Html.BeginForm("Out", "Event", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("EventId", Model.AnEvent.Id)
            
                    <br />
                    <input type="submit" class="btn btn-default" value="-I'm Out!" />
                }   
            }
        }
        <br/>
       
    </div>
    <div class =" col-md-6">
        @Html.Partial("Event", Model);
    </div>
    <div id="EditEventDialog" title="Edit Event">
    </div>
</div>
<div>
    <p>
        @if (isAdmin == true)
        {
            <button onclick="EditEventDialog()" class="btn btn-default">Edit Event</button>
            <br />
            <br />
            <button onclick="DeleteEventDialog()" class="btn btn-default">Delete Event</button>
        }

    </p>
</div>
<div id="UploadImageDialog" title="Upload Account Picture">
    @Html.Partial("UploadPicture", new EventHub.Models.UploadViewModel() { AllowMultiple = true, Action = "UploadPictures", Controller = "Event" })
</div>
<div id="DeleteEventDialog" title="Delete Event?">

</div>
@section scripts
{
    <script type="text/javascript">
    var eventDialog = $("#EditEventDialog").dialog({
        autoOpen: false,
        height: 500,
        width: 750
    });

    function EditEventDialog() {
        $.ajax({
            url: '/Event/Edit?id=@Model.AnEvent.Id',
            contentType: 'Application/html; charset=utf-8',
            type: 'Get',
            dataType: 'html'
        }).success(function (result) {
            $("#EditEventDialog").html(result);
        });

        eventDialog.dialog("open");
    }

    var uploadImageDialog = $("#UploadImageDialog").dialog({
        autoOpen: false,
        height: 200,
        width: 500
    });

    function UploadImageDialog() {
        uploadImageDialog.dialog("open");
    }

    var deleteEventDialog = $("#DeleteEventDialog").dialog({
        autoOpen: false,
        height: 200,
        width: 500,
        buttons: {
            "Delete": function () {
                $.ajax({
                    url: '/Event/Delete?id=@Model.AnEvent.Id',
                    type: 'Post',
                }).success(function (result) {
                    window.location.href = "/Home/Index?success=true";
                });
            },
            "Cancel": function () {
                deleteEventDialog.dialog("close");
            }
        }
    });

    function DeleteEventDialog() {
        deleteEventDialog.dialog("open");
    }

    </script>
}
