@model EventHub.Models.Notification

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Notification</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Message, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message)
                @Html.ValidationMessageFor(model => model.Message)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Viewed, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Viewed)
                @Html.ValidationMessageFor(model => model.Viewed)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NotificationType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NotificationType)
                @Html.ValidationMessageFor(model => model.NotificationType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AspNetUserId, "AspNetUserId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AspNetUserId", String.Empty)
                @Html.ValidationMessageFor(model => model.AspNetUserId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AspNetUserId1, "AspNetUserId1", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AspNetUserId1", String.Empty)
                @Html.ValidationMessageFor(model => model.AspNetUserId1)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
