@model EventHub.Models.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<h2>Hello @Model.FirstName @Model.LastName!</h2>

<div >
    <div class="col-md-3">
        <img src="@Model.PicturePath" class="mainPicture"/>
        <div class="pull-right">
            <button onclick="UploadImageDialog()" class="btn btn-default">Change Picture</button>
        </div>
        <br />
        <br />
        <button onclick="CreateGroupDialog()" class="btn btn-default">Create New Group</button>
        
        <div class="groupList">
            @{Html.RenderAction("MyGroups", "Group");}
        </div>
    </div>

    <div id="EventFeed" class=" col-md-6">
        @{Html.RenderAction("EventFeed", "Event");}
    </div>

    <div id="GroupSuggestions" class="groupList col-md-3" >
        <div>
            <h3>Suggested groups For:</h3>
            <h4>@Model.School.Name</h4>
        </div>

        <div class="col-md-12">
            <form class="navbar-form navbar-left" role="search">
                <input id="searchBar" type="text" class="col-md-8" placeholder="Search">
                <button onclick="SearchGroups()" class="btn btn-default col-md-4">Search</button>
            </form>
        </div>
        <br />
        <br />
        <div id="suggestionList" class="group">
            @{Html.RenderAction("GroupSuggestions", "Group");}
        </div>
             
    </div>

    <div id="CreateGroupDialog" title="Create New Group">
    </div>

    <div id="UploadImageDialog" title="Upload Account Picture">
        @Html.Partial("UploadPicture", new EventHub.Models.UploadViewModel() { AllowMultiple = false, Action = "UploadPicture", Controller="Account"})
    </div>

</div>
@section scripts
{
    <script type="text/javascript">
        var groupDialog = $("#CreateGroupDialog").dialog({
            autoOpen: false,
            height: 500,
            width: 750
        });

        function SearchGroups() {
            var searchValue = $("#searchBar").val();
           // $("#suggestionList").html(Html.Action("GroupSearch", "Group", new {searchTerm = searchValue}));
            $.ajax({
                url: '/Group/GroupSearch?searchTerm=' + searchValue,
                contentType: 'Application/html; charset=utf-8',
                type: 'Get',
                dataType: 'html'
            }).success(function (result) {
                $("#suggestionList").html(result);
            });

            groupDialog.dialog("open");
        }

        function CreateGroupDialog() {
            $.ajax({
                url: '/Group/Create',
                contentType: 'Application/html; charset=utf-8',
                type: 'Get',
                dataType: 'html'
            }).success(function (result) {
                $("#CreateGroupDialog").html(result);
            });

            groupDialog.dialog("open");
        }

        var uploadImageDialog = $("#UploadImageDialog").dialog({
            autoOpen: false,
            height: 200,
            width: 500
        });

        function UploadImageDialog() {
            uploadImageDialog.dialog("open");
        }

        //var userDialog = $("#UserInfoDialog").dialog({
        //    autoOpen: false,
        //    height: 500,
        //    width: 750
        //});

        @*function UserInfoDialog() {
            $.ajax({
                url: '/User/Details?id=@Model.UserId',
                contentType: 'Application/html; charset=utf-8',
                type: 'Get',
                dataType: 'html'
            }).success(function (result) {
                $("#UserInfoDialog").html(result);
            });

            userDialog.dialog("open");
        }*@
    </script>
}
@*@section scripts
{
    <script type="text/javascript">
        //refresh the eventfeed every 20 seconds
        $(document).ready(function () {
            LoadFeed();
            setInterval(LoadFeed, 20000);

            LoadGroupSuggestions();
            setInterval(LoadGroupSuggestions, 60000);
        });

        function LoadFeed() {
            $.ajax({
                url: '/Event/EventFeed',
                contentType: 'Application/html; charset=utf-8',
                type: 'Get',
                dataType: 'html'
            }).success(function (result) {
                $("#EventFeed").html(result);
            });
        }

        function LoadGroupSuggestions() {
            $.ajax({
                url: '/Group/GroupSuggestions',
                contentType: 'Application/html; charset=utf-8',
                type: 'Get',
                dataType: 'html'
            }).success(function (result) {
                $("#GroupSuggestions").html(result);
            });
        }
    </script>}*@