@model EventHub.Models.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<h2 id="greeting" class="text-center" >Hello @Model.FirstName @Model.LastName!</h2>

<div >
    <div class="col-md-3">
        <div id="profile-pic" class="row">
            <div class="text-center">
                <img src="@Model.PicturePath" class="mainPicture"/>
                <br />
                <button onclick="UploadImageDialog()" id="upload-img-btn"class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> change picture</button>
            </div>
        </div>
        <div class="row groups">
            <div class="groupList">
                @{Html.RenderAction("MyGroups", "Group");}
            </div>
            <div class="row text-center">
                <button onclick="CreateGroupDialog()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create New Group</button>
            </div>
         </div>
    </div>

    <div id="EventFeed" class=" col-md-6">
        <div id="events">
        </div>
        <div id="noEvents" style="display: none;">
            <h4>There are no events. Subscribe to a group to see their events!</h4>
        </div>
        <div id="loadingDiv" style="display: none;">
            <center>
                <img alt="Loading" src="@Url.Content("~/Content/Images/ajax-loader.gif")" height="75" width="75" />
            </center>
        </div>
    </div>
    <div id="GroupSuggestions" class="groupList col-md-3" >
        <div>
            <h3>Suggested groups For:</h3>
            <h4>@Model.School.Name</h4>
        </div>

        <div class="col-md-12">
            <form class="navbar-form navbar-left" role="search">
                <input id="searchBar" type="text" class="col-md-8" placeholder="Search">
                <button onclick="SearchGroups()" class="btn btn-default col-md-4">Search</button>
            </form>
        </div>
        <br />
        <br />
        <div id="suggestionList" class="group">
            @{Html.RenderAction("GroupSuggestions", "Group");}
        </div>
             
    </div>

    <div id="CreateGroupDialog" title="Create New Group">
    </div>

    <div id="UploadImageDialog" title="Upload Account Picture">
        @Html.Partial("UploadPicture", new EventHub.Models.UploadViewModel() { AllowMultiple = false, Action = "UploadPicture", Controller="Account"})
    </div>

</div>
@section scripts
{
    <script type="text/javascript">

        var groupDialog = $("#CreateGroupDialog").dialog({
            autoOpen: false,
            height: 500,
            width: 750
        });

        function SearchGroups() {
            var searchValue = $("#searchBar").val();
            // $("#suggestionList").html(Html.Action("GroupSearch", "Group", new {searchTerm = searchValue}));
            $.ajax({
                url: '/Group/GroupSearch?searchTerm=' + searchValue,
                contentType: 'Application/html; charset=utf-8',
                type: 'Get',
                dataType: 'html'
            }).success(function (result) {
                $("#suggestionList").html(result);
            });

            groupDialog.dialog("open");
        }

        function CreateGroupDialog() {
            $.ajax({
                url: '/Group/Create',
                contentType: 'Application/html; charset=utf-8',
                type: 'Get',
                dataType: 'html'
            }).success(function (result) {
                $("#CreateGroupDialog").html(result);
            });

            groupDialog.dialog("open");
        }

        var uploadImageDialog = $("#UploadImageDialog").dialog({
            autoOpen: false,
            height: 200,
            width: 500
        });

        function UploadImageDialog() {
            uploadImageDialog.dialog("open");
        }


        //--------infinite scroll---------
        var BlockNumber = 1;  //Infinite Scroll starts from second block
        var NoMoreData = false;
        var inProgress = false;

        $(document).ready(function () { loadEvents(); });

        function loadEvents() {
            inProgress = true;
            $("#loadingDiv").show();

            $.post("@Url.Action("EventFeed",
                        "Event")", { "BlockNumber": BlockNumber },
                function (data) {
                    if (String(data).trim() == "") {
                        NoMoreData = true;
                        if(BlockNumber == 1)
                            $("#noEvents").show();
                    }
                    console.log(String(data));
                    BlockNumber++;
                    $("#events").append(data);
                    $("#loadingDiv").hide();
                    inProgress = false;
                });
        }

        $("#loadingDiv").hide();
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() -
            $(window).height() && !NoMoreData && !inProgress) {
                loadEvents();
            }
        });
    </script>
}